<%= form_for([@essay, @ranking]) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <h3>Ranking? (required)</h3>
  <div class="field">
      <%= f.select :score, [['Please Select', 0], ['1: Not for the Book', 1], ['2', 2], ['3', 3], ['4', 4], ['5: A Contender', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10: One of the Best', 10]]%>
  </div>
  <h3>Comment? (optional)</h3>
  <div class="field">
    <%= f.text_area :comment %>
  </div>
  
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

